.flat-list {
  border: thin solid rgb(229, 231, 235);
  border-radius: 8px;
}

.flat-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flat-list-is-loading {
  min-height: 150px;
}

.flat-list-item {
  border-bottom: thin solid rgb(229, 231, 235);
}

.flat-list-item:last-child {
  border-bottom: none;
}

.flat-list-item-with-action {
  cursor: pointer;
  user-select: none;
}

.flat-list-item-with-action:hover {
  background-color: rgb(243, 244, 246);
}

.flat-list-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:16px;
  padding: 0 24px;;
}

.flat-list-item-content-left,
.flat-list-item-content-right {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 1;
  max-width: 100%;
}

.flat-list-item-content-left-text-container {
  max-width: 100%;
}

.flat-list-item-content-left-title {
  word-break: break-all;
  font-weight: 500;
}

.flat-list-item-content-left-subtitle {
  flex: 1;
  font-size: 12px;
}

.flat-list-item-content-right-subtitle {
  font-size: 12px;
}

.flat-list-item-content-right-action-icon {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
}

.flat-list-empty-message {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  color: rgb(0,0,0,0.6);
}

.flat-list-error-message {
  list-style: none;
  background-color: rgb(243, 244, 246);
  font-weight: 500;
  color: rgb(220, 38, 38);
}

.flat-list-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

.flat-list-header-title {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
}

.flat-list-subheader {
  display: flex;
  height: 3.5rem/* 56px */;
  align-items: center;
  padding: 0 24px;
}

.flat-list-subheader-title {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  font-weight: 500;
}

.flat-list-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}

.flat-list-loading {
  vertical-align: -0.125em/* 2px */;
  border: solid 4px rgb(20 20 20);
  border-right-color: transparent;
  border-radius: 9999px;
  animation: spin 1s linear infinite;
  width: 48px;
  height: 48px;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
